/* Import Roboto Font */
@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-regular-webfont.eot');
    src: url('roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-regular-webfont.woff') format('woff'),
         url('roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('roboto/roboto-regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-bold-webfont.eot');
    src: url('roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-bold-webfont.woff') format('woff'),
         url('roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('roboto/roboto-bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-bolditalic-webfont.eot');
    src: url('roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('roboto/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('roboto/roboto-bolditalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-italic-webfont.eot');
    src: url('roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-italic-webfont.woff') format('woff'),
         url('roboto/roboto-italic-webfont.ttf') format('truetype'),
         url('roboto/roboto-italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}	

/*Import Ropa Sans Font, do we need other font file types??*/
@font-face {
    font-family: 'RopaSans';
    src: url('ropasans/RopaSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'RopaSans';
    src: url('ropasans/RopaSans-Italic.ttf') format('truetype');
    font-style: italic;
}

/* Main Styles */
body { color:#000000; font-family:'Roboto'; font-size:14px; min-width:1024px; height:768px; }
a { color:#ffffff; text-decoration:none; text-transform:uppercase; }
a:hover { color:#8eb423; }
h1 { font-family:'RopaSans'; font-weight:normal; }
li { list-style-type:none; }

/* Button Styles */
.buttonlist { 
	margin:0;
	padding:0;
	border:1px solid #323232;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.buttonlist li { float:left; }

a.button {  
	display:block;
	padding:8px 10px;
	/* background */
	background: rgb(23,23,23); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(23,23,23,1) 0%, rgba(9,9,9,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,23,23,1)), color-stop(100%,rgba(9,9,9,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(23,23,23,1) 0%,rgba(9,9,9,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(23,23,23,1) 0%,rgba(9,9,9,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(23,23,23,1) 0%,rgba(9,9,9,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(23,23,23,1) 0%,rgba(9,9,9,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#090909',GradientType=0 ); /* IE6-9 */
}
a.button:hover {
	/* background */
	background: rgb(31,31,31); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(31,31,31,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,31,31,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(31,31,31,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(31,31,31,1) 0%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(31,31,31,1) 0%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(31,31,31,1) 0%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

a.button.center {
	border-right:1px solid #222222;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: 1px solid #000000;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;	
}

a.button.left {
	border-right:1px solid #222222;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
a.button.right {
	border-left: 1px solid #000000;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
a.button.middle {
	border-left: 1px solid #000000;
	border-right:1px solid #222222;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
a.button.disabled {
	color:#565655;
}

a.button.active { 
	color:#8eb423; 
}

a.button.play {
	width:18px;
	text-indent:-10000px;
	background:url(images/play-pause.png) no-repeat center 2px;
}

a.button.play.active {
	width:18px;
	text-indent:-10000px;
	background:url(images/play-pause.png) no-repeat center -28px;
}

a.button.play:hover {
	width:18px;
	text-indent:-10000px;
	background:url(images/play-pause.png) no-repeat center -28px;
}

a.button.pause {
	width:18px;
	text-indent:-10000px;
	background:url(images/play-pause.png) no-repeat center -58px;
}

a.button.pause.active {
	width:18px;
	text-indent:-10000px;
	background:url(images/play-pause.png) no-repeat center -88px;
}

a.button.pause:hover {
	width:18px;
	text-indent:-10000px;
	background:url(images/play-pause.png) no-repeat center -88px;
}



.selected {
	fill:red;
}

#dataviz { 				
	background-color: 	#000000;
	margin: 			0px;
	overflow: 			hidden;
}
#overlay_2d{
	-webkit-perspective:		800;
	position:					absolute;
	margin: 					0px;
	width:						100%;
	height:						100%;
	pointer-events:				none;
}		

.marker {
	position:				absolute;
	display:				inline-block;
	/*width:					100px;
	height:					20px;*/
	background-color: 		rgba(0,0,0,.87);	
	color:					#ffffff;
	font-size:				4pt;
    font-family: 			'RopaSans';
	-moz-user-select:		-moz-none;
	-khtml-user-select:		none;
	-webkit-user-select:	none;
	margin: 				0px;
	border:					0px;
	padding:				10px;
	overflow: 				hidden;		
	cursor:					pointer;
}	

.country {
	float:					left;
	margin-right:			10px;
}

.detail {
	color:					#aaaaaa;
	float:					right;
}

#loading{
	position:				absolute;
	display:				inline-block;
	background-color: 		#111111;
	top:					50%;
	left:					12%;
	color:					#ffffff;
	padding:				16px;
}


/*Styles by Pitch*/
.clear {
    clear:both;
}
/*
Elements to control the title and country selector
*/
#hudHeader {
    position: 				absolute;
    width: 					100%;
    left: 					30px;
    top: 					30px;
    color: 					#fff;
    font-family: 			'RopaSans';
    display:none;
}
#hudHeader h1 {
    font-size: 				42px;
    font-family: 			'RopaSans';
    margin: 				0 0 25px 0;
    display:block;
    float:left;
}
#hudHeader .countryTextInput {
    float: right;
    font-size: 				22px;
    width: 					330px;
    margin-right: 			5px;
   	-webkit-border-radius:  4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;
	font-family: 			'RopaSans';
}
#hudHeader .armsBtn {
    float: right;
    background: 			#333333;
    padding: 				3px 10px 4px;
    color: 					white;
    border: 				0;
    font-size: 				23px;
   	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;
	font-family: 			'RopaSans';
	cursor: 				pointer;
	margin-right: 			60px;
}

#hudHeader .aboutBtn {
	display:				block;
	clear:					both;
	margin-right: 			60px;
	margin-top: 			-27px;
	width: 					90px;
}

/*
Bar graph on left
*/
#barGraph {
    position: absolute;
    bottom:10px;
    left:0;
    opacity: 0.9;
}
#barGraph .import.ammo {
	fill: 					#308a8a;
}
#barGraph .import.civ {
	fill: 					#72b4d7;
}
#barGraph .import.mil {
	fill:					#1482bd;
}
#barGraph .export.ammo {
	fill: 					#785201;
}
#barGraph .export.civ {
	fill: 					#f6c867;
}
#barGraph .export.mil {
	fill:					#f0a401;
}
#barGraph .importLabel text,#barGraph .exportLabel text {
	fill: 					white;
    font-family:			Roboto;
}
#barGraph .totalLabel {
    fill: 					white;
    font-family:			Roboto;
    font-size: 				24px;
}
#barGraph .exportLabel {
    font-family: 			Roboto;
    font-size: 				15px;
    fill: 					#f99318;
}
#barGraph .importLabel {
    font-family: 			Roboto;
    font-size: 				15px;
    fill: 					#2e81bb;
}
#history {
    position: 				absolute;
    bottom: 				0;
    left: 					386px;
    background-color: 		rgba(43,43,43,0.6);
    display: 				none;
   	-webkit-border-top-left-radius:	5px;
	-moz-border-radius-topleft: 	5px;
	border-top-left-radius: 		5px;
	-webkit-border-top-right-radius:	5px;
	-moz-border-radius-topright: 	5px;
	border-top-right-radius: 		5px;
	
}
#history ul {
    list-style-type:none;
    margin:10px;
    padding:0;
    padding-bottom: 15px;
    padding-top:22px;
    color: white;
    font-size: 16px;
    font-family: Roboto;
    background: url('timelineBG.png') 8px 0 no-repeat;
}
#history ul li {
    width: 44px;
    float: left;
    text-align: center;
    margin-top: -30px;
    padding-top: 30px;
    cursor: pointer;
}
#history .timeline #handle {
    width: 36px;
    height: 36px;
    background: url('yearHandle.png') 2px 0 no-repeat;
    position: absolute;
    bottom: 20px;
    left: 15px;
}
#history .graph {
    display: none;
}
#history .close {
    width: 8px;
    height: 8px;
    background: url('close.png') 0 0 no-repeat;
    margin-right: 8px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
}

#history .labels {
    margin-right: 35px;
}
#history .labels .change {
    font-family: RopaSans;
    font-size: 28px;
    color: white;
    margin-left: 31px;
    float: left;
    margin-top: 15px;
}
#history .labels .imports {
    float: right;
    font-family: Roboto;
    font-size: 15px;
    color:#2e81bb;
    margin-top: 25px;
}
#history .labels .exports {
    float: right;
    font-family: Roboto;
    font-size: 15px;
    color: #f99318;
    margin-top: 25px;
    margin-left: 10px;
}
#histogram path {
    fill: none;
    stroke-width: 3px;
}
#histogram .export {
    stroke: #f99318
}
#histogram .import {
    stroke: #2e81bb;
}
#histogram .tick {
    fill:none;
    stroke: #959595;
}
#histogram .tickLbl {
    fill: #fff;
    font-size: 11px;
    font-family: Roboto;
}
#histogram .plusMinus {
    font-size: 18px;
    fill: #fff;
}
#histogram ellipse.year {
    fill: #fff;
}
#importExportBtns {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: white;
    display: none;
}
#importExportBtns>div>div {
    float: left;
    width: 84px;
    text-align: center;
    height: 34px;
}
#importExportBtns .imex>div {
    background: #262626;
}
#importExportBtns .typeLabels div {
    font-family: Roboto;
    font-size: 16px;
    text-transform: uppercase;
}

#importExportBtns .imex>div {
    -webkit-border-radius:  4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
#importExportBtns>div>.label {
    width: 115px;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 24px;
    margin-left: 10px;
    background: #262626;
    vertical-align: middle;
    padding-top: 3px;
    height: 31px;
}
#importExportBtns .imports .label {
    color: #2e81bb
}
#importExportBtns .exports .label {
    color: #f99318;
}
#importExportBtns .imports {
    margin-bottom: 5px;
}
#importExportBtns .mil, #importExportBtns .civilian {
    margin-right: 5px;
}
#importExportBtns .imex .check {
    width: 20px;
    height: 20px;
    background: #262626 url('importExportIcons.png') 0 0 no-repeat;
    margin: 6px auto;
}
#importExportBtns .imports .mil .check {
    background-position: 0px 0px;
}
#importExportBtns .imports .mil .check.inactive {
    background-position: 0px -20px;
}
#importExportBtns .imports .civilian .check {
    background-position: -20px 0px;
}
#importExportBtns .imports .civilian .check.inactive {
    background-position: -20px -20px;
}
#importExportBtns .imports .ammo .check {
    background-position: -40px 0px;
}
#importExportBtns .imports .ammo .check.inactive {
    background-position: -40px -20px;
}
#importExportBtns .exports .mil .check {
    background-position: -60px 0px;
}
#importExportBtns .exports .mil .check.inactive {
    background-position: -60px -20px;
}
#importExportBtns .exports .civilian .check {
    background-position: -80px 0px;
}
#importExportBtns .exports .civilian .check.inactive {
    background-position: -80px -20px;
}
#importExportBtns .exports .ammo .check {
    background-position: -100px 0px;
}
#importExportBtns .exports .ammo .check.inactive {
    background-position: -100px -20px;
}


#graphIcon {
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: 10px;
    left: 1255px;
    cursor: pointer;
    background: url('graphIcon.png') 0 0 no-repeat;
    display: none;
}


.ui-autocomplete .ui-menu-item {
    border-top:1px solid #656565;
    margin-left: -39px;
    padding-left: 4px;
    font-family: RopaSans;
    font-size: 28px;
    color: white;
    background:#333;
    width: 331px;
}
.ui-autocomplete #ui-active-menuitem {
    background: white;
    color: black;
    width: 331px;
    display: block;
    margin-left: -4px;
    padding-left: 4px;
}